
.css1 {
    border-color: #b11500;
    background-color: #b11500;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
    pointer-events: none;
}
.css2 {
    border-color: #bbbbbb;
    background-color: #bbbbbb;
    pointer-events: none;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}

.css3 {
    border-color: #3aa74c;
    background-color: #3aa74c;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}

.css4 {
    border-color: #01c73c;
    background-color: #fdfcf0;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}

.css5 {
    border-color: #f71708;
    background-color: #fdfcf0;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}

.css6 {
    background: #3399cc;
    color: #fff;
    border-color: #3399cc;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}
.css7 {
    border-color: #c0c081;
    background-color: #c0c081;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}
.css8 {
    border-color: #804a4a;
    background-color: #804a4a;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}
.css9 {
    border-color: #664a80;
    background-color: #664a80;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}

.css10 {
    border-color: #3aa79d;
    background-color: #3aa79d;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}
.css11 {
    border-color: #d05d19;
    background-color: #d05d19;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}

.css12 {
    border-color: #bbbbbb;
    background-color: #bbbbbb;
    width: 40px;
    height: 40px;
    margin: 0 1px;
    padding: 1px 0;
}





